/*背景*/
body {
    background: url("../images/bg.png") ;
}
/*字体上下间距*/
.m-padded-mini {
    padding: 0.2em !important;
}
.m-padded-tiny {
    padding: 0.3em !important;
}
.m-padded-small {
    padding: 0.5em !important;
}
.m-padded {
    padding: 1em !important;
}
.m-padded-large {
    padding: 1.5em !important;
}
/*上下间距*/
.m-padded-lr-responsive {
    padding-top: 0.5em !important;
    padding-bottom: 0.8em !important;
}
.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
/*字体上下间距*/
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
/*字体组件*/
.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    letter-height: 1.5 !important;
}
/*字体大小*/
.m-text-thin {
   font-weight: 300 !important;
}
/*字体间隔*/
.m-text-spaced {
    letter-spacing: 1px !important;
}
/*字体高度*/
.m-text-lined {
    letter-height: 1.5 !important;
}
/*透明度*/
.m-opacity-mini {
    opacity: 0.8 !important;
}
.m-opacity-tiny {
    opacity: 0.5 !important;
}
/*显示*/
.m-inline-block {
    display: inline-block !important;
}
/*容器*/
.m-container {
    max-width: 80em !important;
    margin: auto !important;
}
.m-container-small {
     max-width: 60em !important;
     margin: auto !important;
 }
/*margin填充*/
.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-tb-small {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}
.m-margin-tb {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.m-margin-tb-large {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}
.m-margin-bottom {
    margin-bottom: 0.5em !important;
}
/*颜色*/
.m-black {
    color:#233 !important;
}
/*移动端位置控制*/
.m-right-top {
    position: absolute;
    top:0;
    right:0;
}
/*移动端显示*/
.m-mobile-show {
    display: none !important;
}
/*信息页阴影*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;;
}
/*屏幕尺寸判断*/
@media screen and (max-width: 768px) {
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-padded-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
}
/*控件定位*/
.m-fixed {
    position: fixed !important;
    z-index: 1 !important;
}
.m-right-bottom {
    bottom: 0 !important;
    right:0 !important;
}