<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/my.css">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input m-margin-tb-tiny">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div  class="m-container-small m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">标签</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(tags)}"> 14 </h2> 个
                </div>
            </div>
        </div>

        <div class="ui attached segment m-padded-tb-large">
            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}"  class="ui basic left pointing large label m-margin-tb-tiny" th:classappend="${tag.id==activeTagId} ? 'teal'" th:each="tag : ${tags}">
                <span th:text="${tag.name}">方法论</span> <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
            </a>
        </div>

        <div class="ui top attached teal segment">
            <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                <div class="ui middle aligned mobile reversed stackable grid" >
                    <div class="eleven wide column">
                        <h3 class="ui header" ><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你真的理解什么是财富自由吗?</a></h3>
                        <p class="m-text" th:text="|${blog.description}......|">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                        <div class="ui grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://unsplash.it/100/100?image=1005" th:src="@{${blog.user.avatar}}"  alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}" >李仁密</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-01</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui  basic left pointing label m-padded-mini m-text-thin" th:classappend="${tag.id==activeTagId} ? 'teal'" th:each="tag : ${blog.tags}" th:text="${tag.name}">方法论</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}"  alt="" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div>

        </div>

        <!--footer-->
        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" th:href="@{'/tags/'+${activeTagId}(page=${page.number}-1)}"  th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" th:href="@{'/tags/'+${activeTagId}(page=${page.number}+1)}"  th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>

    </div>
</div>

<br>
<br>
<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced " >最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email：lirenmi@163.com</a>
                    <a href="#" class="item m-text-thin">QQ：865729312</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2016 - 2017 Lirenmi Designed by Lirenmi</p>
    </div>

</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head th:replace="_fragments :: head(~{::title})">-->
<!--    <meta charset="UTF-8">-->
<!--    &lt;!&ndash;移动端适配&ndash;&gt;-->
<!--    <meta name="viewport" conetnt="width=device-width,initial-scale=1.0">-->
<!--    <title>标签</title>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">-->
<!--    <link rel="stylesheet" href="../static/css/my.css">-->
<!--</head>-->
<!--<body>-->
<!--    &lt;!&ndash; 导航&ndash;&gt;-->
<!--    <nav th:replace="_fragments :: menu(3)" class="ui inverted attached segment">-->
<!--        <div class="ui container">-->
<!--            <div class="ui inverted secondary stackable menu">-->
<!--                <h2 class="ui teal header item m-padded-tb-mini">随手记 </h2>-->
<!--                <a href="#" class="m-show item m-mobile-hide"><i class="small home icon"></i>首页</a>-->
<!--                <a href="#" class="m-show item m-mobile-hide"><i class="small idea icon"></i>分类</a>-->
<!--                <a href="#" class="active m-show item m-mobile-hide"><i class="small tags icon"></i>标签</a>-->
<!--                <a href="#" class="m-show item m-mobile-hide"><i class="small folder icon"></i>归档</a>-->
<!--                <a href="#" class="m-show item m-mobile-hide"><i class="small info icon"></i>关于我</a>-->
<!--                <div class="m-show right item m-mobile-hide">-->
<!--                    <div class="ui icon inverted transparent input ">-->
<!--                        <input type="text" placeholder="搜索......">-->
<!--                        <i class="search link icon"></i>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">-->
<!--            <i class="sidebar icon"></i>-->
<!--        </a>-->
<!--    </nav>-->
<!--    &lt;!&ndash; 中部&ndash;&gt;-->
<!--    <div class="m-container m-padded-tb-large">-->
<!--        &lt;!&ndash;标签统计&ndash;&gt;-->
<!--        <div class="ui top attached segment">-->
<!--            <div class="ui middle aligned two column grid">-->
<!--                <div class="column">-->
<!--                    <h3 class="ui teal header">标签</h3>-->
<!--                </div>-->
<!--                <div class="right aligned column">-->
<!--                    共 <h2 class="ui orange header m-inline-block m-text-thin"> 100 </h2> 种-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;标签列表&ndash;&gt;-->
<!--        <div class="ui attached segment m-padded-tb-large">-->
<!--            &lt;!&ndash;选中&ndash;&gt;-->
<!--            <a href="#" target="_blank" class="ui teal basic left pointing large label m-margin-tb-tiny">java-->
<!--            <div class="detail">10</div></a>-->
<!--            &lt;!&ndash;未选中&ndash;&gt;-->
<!--            <a href="#" target="_blank" class=  "ui basic left pointing large label m-margin-tb-tiny">python-->
<!--            <div class="detail">15</div></a>-->
<!--            <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">c++-->
<!--            <div class="detail">20</div></a>-->
<!--        </div>-->
<!--        &lt;!&ndash;内容&ndash;&gt;-->
<!--        <div class="ui top attached teal segment">-->
<!--            <div class="ui padded vertical segment m-padded-tb m-padded-lr-clear" >-->
<!--                <div class="ui mobile reversed stackable grid">-->
<!--                    &lt;!&ndash;博客正文&ndash;&gt;-->
<!--                    <div class="eleven wide column">-->
<!--                        <h3 class="ui header">今天是周五，我在做开发</h3>-->
<!--                        <p class="m-text"> "邢志辉项目经理沈海G15甬台温高速公路温州段路面养护专项工程第1标段唐山市西外环高速公路路面大修工程唐港高速公路2015年路面维修工程工程师0117629",-->
<!--                            "田全乐项目经理备选人唐港高速公路中修工程正高级工程师0120748",-->
<!--                            "张朝辉项目总工沈海G15甬台温高速公路温州段路面养护专项工程第1标段唐山市西外环高速公路路面大修工程唐港高速公路2015年路面维修工程高级工程师0110959",-->
<!--                            "王卫兵项目总工备选人唐港高速公路中修工程高级工程师0110758",-->
<!--                            "姓名本工程职务个人业绩证明职称证书编号",</p>-->
<!--                        &lt;!&ndash;博客介绍&ndash;&gt;-->
<!--                        <div class="ui stackable grid">-->
<!--                            <div class="eleven wide column">-->
<!--                                <div class="ui small horizontal link list">-->
<!--                                    <div class="item">-->
<!--                                        &lt;!&ndash;头像&ndash;&gt;-->
<!--                                        <img src="static/images/article.jpg" th:src="@{/images/article.jpg}" alt="" class="ui avatar image">-->
<!--                                        <div class="content"><a href="#" class="header">crazy</a></div>-->
<!--                                    </div>-->
<!--                                    <div class="item">-->
<!--                                        <i class="calendar icon"></i> 2022-8-12-->
<!--                                    </div>-->
<!--                                    <div class="item">-->
<!--                                        <i class="eye icon"></i> 1000-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;博客所属类别&ndash;&gt;-->
<!--                            <div class="right aligned five wide column">-->
<!--                                <br>-->
<!--                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">后端开发</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="column">-->
<!--                                <a href="#" class="ui teal left pointing label  m-padded-small">java</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;博客右部图片&ndash;&gt;-->
<!--                    <div class="five wide column">-->
<!--                        <div class="m-padded-tb-big">-->
<!--                            <a href="#" target="_blank">-->
<!--                                <img src="static/images/article.jpg" th:src="@{/images/article.jpg}" alt="" class="ui rounded image">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="ui padded vertical segment m-padded-tb m-padded-lr-clear" >-->
<!--                <div class="ui mobile reversed stackable grid">-->
<!--                    &lt;!&ndash;博客正文&ndash;&gt;-->
<!--                    <div class="eleven wide column">-->
<!--                        <h3 class="ui header">今天是周五，我在做开发</h3>-->
<!--                        <p class="m-text"> "邢志辉项目经理沈海G15甬台温高速公路温州段路面养护专项工程第1标段唐山市西外环高速公路路面大修工程唐港高速公路2015年路面维修工程工程师0117629",-->
<!--                            "田全乐项目经理备选人唐港高速公路中修工程正高级工程师0120748",-->
<!--                            "张朝辉项目总工沈海G15甬台温高速公路温州段路面养护专项工程第1标段唐山市西外环高速公路路面大修工程唐港高速公路2015年路面维修工程高级工程师0110959",-->
<!--                            "王卫兵项目总工备选人唐港高速公路中修工程高级工程师0110758",-->
<!--                            "姓名本工程职务个人业绩证明职称证书编号",</p>-->
<!--                        &lt;!&ndash;博客介绍&ndash;&gt;-->
<!--                        <div class="ui stackable grid">-->
<!--                            <div class="eleven wide column">-->
<!--                                <div class="ui small horizontal link list">-->
<!--                                    <div class="item">-->
<!--                                        &lt;!&ndash;头像&ndash;&gt;-->
<!--                                        <img src="static/images/article.jpg" th:src="@{/images/article.jpg}" alt="" class="ui avatar image">-->
<!--                                        <div class="content"><a href="#" class="header">crazy</a></div>-->
<!--                                    </div>-->
<!--                                    <div class="item">-->
<!--                                        <i class="calendar icon"></i> 2022-8-12-->
<!--                                    </div>-->
<!--                                    <div class="item">-->
<!--                                        <i class="eye icon"></i> 1000-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;博客所属类别&ndash;&gt;-->
<!--                            <div class="right aligned five wide column">-->
<!--                                <br>-->
<!--                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">后端开发</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="column">-->
<!--                                <a href="#" class="ui teal left pointing label  m-padded-small">java</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;博客右部图片&ndash;&gt;-->
<!--                    <div class="five wide column">-->
<!--                        <div class="m-padded-tb-big">-->
<!--                            <a href="#" target="_blank">-->
<!--                                <img src="static/images/article.jpg" th:src="@{/images/article.jpg}" alt="" class="ui rounded image">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="ui padded vertical segment m-padded-tb m-padded-lr-clear" >-->
<!--                <div class="ui mobile reversed stackable grid">-->
<!--                    &lt;!&ndash;博客正文&ndash;&gt;-->
<!--                    <div class="eleven wide column">-->
<!--                        <h3 class="ui header">今天是周五，我在做开发</h3>-->
<!--                        <p class="m-text"> "邢志辉项目经理沈海G15甬台温高速公路温州段路面养护专项工程第1标段唐山市西外环高速公路路面大修工程唐港高速公路2015年路面维修工程工程师0117629",-->
<!--                            "田全乐项目经理备选人唐港高速公路中修工程正高级工程师0120748",-->
<!--                            "张朝辉项目总工沈海G15甬台温高速公路温州段路面养护专项工程第1标段唐山市西外环高速公路路面大修工程唐港高速公路2015年路面维修工程高级工程师0110959",-->
<!--                            "王卫兵项目总工备选人唐港高速公路中修工程高级工程师0110758",-->
<!--                            "姓名本工程职务个人业绩证明职称证书编号",</p>-->
<!--                        &lt;!&ndash;博客介绍&ndash;&gt;-->
<!--                        <div class="ui stackable grid">-->
<!--                            <div class="eleven wide column">-->
<!--                                <div class="ui small horizontal link list">-->
<!--                                    <div class="item">-->
<!--                                        &lt;!&ndash;头像&ndash;&gt;-->
<!--                                        <img src="static/images/article.jpg" th:src="@{/images/article.jpg}" alt="" class="ui avatar image">-->
<!--                                        <div class="content"><a href="#" class="header">crazy</a></div>-->
<!--                                    </div>-->
<!--                                    <div class="item">-->
<!--                                        <i class="calendar icon"></i> 2022-8-12-->
<!--                                    </div>-->
<!--                                    <div class="item">-->
<!--                                        <i class="eye icon"></i> 1000-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;博客所属类别&ndash;&gt;-->
<!--                            <div class="right aligned five wide column">-->
<!--                                <br>-->
<!--                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">后端开发</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="column">-->
<!--                                <a href="#" class="ui teal left pointing label  m-padded-small">java</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;博客右部图片&ndash;&gt;-->
<!--                    <div class="five wide column">-->
<!--                        <div class="m-padded-tb-big">-->
<!--                            <a href="#" target="_blank">-->
<!--                                <img src="static/images/article.jpg" th:src="@{/images/article.jpg}" alt="" class="ui rounded image">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="ui padded vertical segment m-padded-tb m-padded-lr-clear" >-->
<!--                <div class="ui mobile reversed stackable grid">-->
<!--                    &lt;!&ndash;博客正文&ndash;&gt;-->
<!--                    <div class="eleven wide column">-->
<!--                        <h3 class="ui header">今天是周五，我在做开发</h3>-->
<!--                        <p class="m-text"> "邢志辉项目经理沈海G15甬台温高速公路温州段路面养护专项工程第1标段唐山市西外环高速公路路面大修工程唐港高速公路2015年路面维修工程工程师0117629",-->
<!--                            "田全乐项目经理备选人唐港高速公路中修工程正高级工程师0120748",-->
<!--                            "张朝辉项目总工沈海G15甬台温高速公路温州段路面养护专项工程第1标段唐山市西外环高速公路路面大修工程唐港高速公路2015年路面维修工程高级工程师0110959",-->
<!--                            "王卫兵项目总工备选人唐港高速公路中修工程高级工程师0110758",-->
<!--                            "姓名本工程职务个人业绩证明职称证书编号",</p>-->
<!--                        &lt;!&ndash;博客介绍&ndash;&gt;-->
<!--                        <div class="ui stackable grid">-->
<!--                            <div class="eleven wide column">-->
<!--                                <div class="ui small horizontal link list">-->
<!--                                    <div class="item">-->
<!--                                        &lt;!&ndash;头像&ndash;&gt;-->
<!--                                        <img src="static/images/article.jpg" th:src="@{/images/article.jpg}" alt="" class="ui avatar image">-->
<!--                                        <div class="content"><a href="#" class="header">crazy</a></div>-->
<!--                                    </div>-->
<!--                                    <div class="item">-->
<!--                                        <i class="calendar icon"></i> 2022-8-12-->
<!--                                    </div>-->
<!--                                    <div class="item">-->
<!--                                        <i class="eye icon"></i> 1000-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;博客所属类别&ndash;&gt;-->
<!--                            <div class="right aligned five wide column">-->
<!--                                <br>-->
<!--                                <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">后端开发</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="column">-->
<!--                                <a href="#" class="ui teal left pointing label  m-padded-small">java</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;博客右部图片&ndash;&gt;-->
<!--                    <div class="five wide column">-->
<!--                        <div class="m-padded-tb-big">-->
<!--                            <a href="#" target="_blank">-->
<!--                                <img src="static/images/article.jpg" th:src="@{/images/article.jpg}" alt="" class="ui rounded image">-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="ui bottom attached segment">-->
<!--            <div class="ui middle aligned two column grid">-->
<!--                <div class="column">-->
<!--                    <a href="#" class="ui top small teal basic button">上一页</a>-->
<!--                </div>-->
<!--                <div class="right aligned column">-->
<!--                    <a href="#" class="ui small teal basic button">下一页</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <br>-->
<!--    <br>-->
<!--    &lt;!&ndash; 底部&ndash;&gt;-->
<!--    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">-->
<!--       <div class="ui center aligned container">-->
<!--           <div class="ui inverted divided stackable grid"> &lt;!&ndash;16占格&ndash;&gt;-->
<!--               <div class="four wide column">-->
<!--                   <div class="ui inverted link list">-->
<!--                       <div class="item">-->
<!--                           <img src="static/images/wechat.png" th:src="@{/images/wechat.png}" class="ui rounded image" alt="" style="width: 120px">-->
<!--                       </div>-->
<!--                   </div>-->
<!--               </div>-->
<!--               <div class="four wide column">-->
<!--                   <h4 class="ui inverted header m-padded-tb-mini m-text-spaced">推荐文章</h4>-->
<!--                   <div class="ui inverted link list ">-->
<!--                       <a href="#" class="item m-padded-tb-mini m-text-spaced m-opacity-mini">今天是星期三</a>-->
<!--                       <a href="#" class="item m-padded-tb-mini m-text-spaced m-opacity-mini">明天是星期四</a>-->
<!--                       <a href="#" class="item m-padded-tb-mini m-text-spaced m-opacity-mini">后天是星期五</a>-->
<!--                       <a href="#" class="item m-padded-tb-mini m-text-spaced m-opacity-mini">大后天是星期六</a>-->
<!--                   </div>-->
<!--               </div>-->
<!--               <div class="four wide column">-->
<!--                   <h4 class="ui inverted header m-padded-tb-mini m-text-spaced">联系我</h4>-->
<!--                   <div class="ui inverted link list">-->
<!--                       <a href="#" class="item m-padded-tb-mini m-text-spaced m-opacity-mini">qq：15546412121</a>-->
<!--                       <a href="#" class="item m-padded-tb-mini m-text-spaced m-opacity-mini">微信：156466461161</a>-->
<!--                       <a href="#" class="item m-padded-tb-mini m-text-spaced m-opacity-mini">邮箱：ssdfsasd@qq.com</a>-->
<!--                       <a href="#" class="item m-padded-tb-mini m-text-spaced m-opacity-mini">电话：156466461161</a>-->
<!--                   </div>-->
<!--               </div>-->
<!--               <div class="four wide column">-->
<!--                   <h4 class="ui inverted header m-padded-tb-mini m-text-spaced">李先生</h4>-->
<!--                   <p class="m-padded-tb-mini m-text-spaced m-opacity-mini">一个热爱编程的码农，喜欢创造、喜欢独立思考、是一个有趣的人。。。。</p>-->
<!--               </div>-->
<!--           </div>-->
<!--           <div class="ui inverted section divider">-->
<!--               <p class="m-padded-tb-large m-text-spaced m-opacity-tiny"> ©京公网安备11010802022728号  京ICP证 160587号  ©京ICP备16007318号</p>-->
<!--           </div>-->
<!--       </div>-->
<!--    </footer>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>-->
<!--    <script>-->
<!--        /*通过class属性控制控件*/-->
<!--        $('.menu.toggle').click(function (){-->
<!--            $('.m-show').toggleClass('m-mobile-hide');-->
<!--        });-->
<!--    </script>-->

<!--</body>-->
<!--</html>-->